<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="/static/assets/images/logo.png" width="225" height="95" class="footer-logo" alt="" />
            <h5 class="font-weight-normal mt-4 mb-5">
              Kettik is an event management website. Here you can see the latest news about the life of Astana IT University and about the latest events in various clubs.
            </h5>
          </div>
          <div class="col-sm-4">
            <h3 class="font-weight-bold mb-3">Team members</h3>
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-border-bottom pb-2">
                  <div class="row">
                    <div class="col-9">
                      <h5 class="font-weight-600">
                        Sultangazy Dairov
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="footer-border-bottom pb-2 pt-2">
                  <div class="row">
                    <div class="col-9">
                      <h5 class="font-weight-600">
                        Shukurov Ansar
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>