<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Kettik</title>

    <!-- plugin css -->
    <link
      rel="stylesheet"
      href="/static/ssets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <!-- End plugin css for this page -->

    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />

    <!-- inject:css -->
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <!-- endinject -->
  </head>

  <body>
    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-bottom">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a class="navbar-brand" href="/">
                  <img src="/static/assets/images/logo.png" alt="" />
                </a>
              </div>
              <div>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- navbar.html -->
  </body>
</html>
